* {
    margin: 0px;
}

html{
    height: 100%;
}

body {
    padding: 0px;
    height: 100%;
    background-image: url("gryaris.avif");
    background-size: cover;
}

#header {
    background-color: rgba(38, 38, 41, 0.1);
    color: beige;
    text-align: center;
    height: 50px;
}

h1 {
    display: inline;

}

h2 {
    margin: 5px;
}

p {
    display: inline;
    padding-left: 200px;
}

#main-container {
    height: 100%;
    display: flex;
}

#menu-section {
    /* padding-top: 50px; */
    height: 100%;
    color: black;
    width: 300px;
    background-color: rgba(38, 38, 41, 0.1);

}

#menu-section:hover {
    /* padding-top: 50px; */
    height: 100%;
    width: 300px;
    color: black;
    background-color: rgba(38, 38, 41, 0.5);
}

.DB{
    width: 100%;
    height: 50px;
    display: block;
    background-color: rgb(142, 142, 142);
    
}

#menu-list{
    margin-top: 50px;
    margin-left: 30px;
    visibility: hidden;
}

li {
    padding: 5px;
}



#childContainer{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
    height: 800px;
    width: 95%;
    opacity: 1;
    display: flex;
    overflow-x: auto;
    /* background-color: rgba(129, 226, 18,0.1); */
}

.card{
    height: 150px;
    width: 300px;
    margin-right:10px ;
    border-radius: 5px;
    background-color: aliceblue;
    position: relative;
    flex-shrink: 0;
}



#card_add{
    height: 100px;
    width: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(190, 190, 190, 0.5);
    flex-shrink: 0;
}


.card_titleInput{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
    position: absolute;
    visibility: hidden;
    height: 20px;
    width:88%;
    display: inline-block;
}

.card_title{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
    position: absolute;
    height: 20px;
    width: 90%;
    display: inline-block;
}

.card_detailContainer{
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 90%;
    border-radius: 5px;
}

.card_detailsBox{
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgba(190, 190, 190, 0.3);
    position: relative;
}

.edit_detail{
    width: 98%;
    height: 95%;
    padding-top: 5px;
    text-align:left;
    border-radius: 5px;
    font-weight: 100;
    position: absolute;
    visibility: hidden;
    background-color: rgb(230, 240, 141);
    display: inline-block;
}

.card_details{
    width: 90%;
    height: 100%;
    padding-top: 5px;
    padding-left: 5px;
    font-size: small;
    text-align:left;
    font-weight: 10;
    display: inline-block;
    position: absolute;
}



.addDetailsBox{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(64, 63, 63, 0.3);
}

.addDetails{
    padding-top: 5px;
    padding-left: 10px;
    text-align:left;
    font-weight: 100;
}

.add{
    position: absolute;
    margin-left: 90%;
    border-radius: 5px;
    border: 0px;
    font-size:medium;
    background-color: rgba(255, 255, 255,0.4);
}

#attachment{
    margin-top: 5%;
    margin-left: 20%;
    height: 80%;
    width: 70%;
    position: absolute;
    border-radius: 5px;
    background-color: rgb(198, 204, 190);
    visibility: hidden;
}

#attachment_title{
    margin-top: 1%;
    margin-right: 40%;
    margin-left: 3%;
    padding-left: 5px;
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0.3);
    display: block;
}


#attachment_memo{
    margin-top: 1%;
    margin-right: 3%;
    margin-left: 3%;
    height: 15%;
    width: 93%;
    padding-left: 5px;
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0.3);
    display: block;
}

#picture{
    margin-top: 1%;
    margin-left: 3%;
    width: 80%;
    height: 60%;
　　object-fit: contain;
}

#back{
    margin-left: 93%;
    margin-top: 1%;
    display: inline;
    position: absolute;
}
